<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>This API is simply EPIC!</h1>
      <div class="column">
        <div class="row header">
          API route
        </div>
        <div class="row header">
          Purpose
        </div>
        <div class="row header">
          Return value
        </div>
      </div>
      <div class="column">
        <div class="row info">
          /api/image/random/
        </div>
        <div class="row info">
          Returns a random image
        </div>
        <div class="row info">
          JSON Data/Base64
        </div>
      </div>
      <div class="column">
        <div class="row info">
          /api/image/id/
        </div>
        <div class="row info">
          Returns the image with the id
        </div>
        <div class="row info">
          JSON Data/Base64
        </div>
      </div>
      <h3>Total images {{total}}</h3>
      <div class="column large">
        <div class="row nopadding">
          <div class="container-image">
            <img id="img" src="" alt="Random Picture">
          </div>
        </div>
        <div class="column large">
          <div class="row">
            <button class="btn l" type="button" name="button" onclick="loadData('http://127.0.0.1:5000/api/image/random/')">Suprise me</button>
          </div>
        </div>
        <div class="column medium">
          <div class="row">
            <button class="btn controll" type="button" name="button" onclick="newImage(1);">Previous</button>
          </div>
          <div class="row">
            <button class="btn controll" type="button" name="button" onclick="newImage(0);">Next</button>
          </div>
        </div>
      </div>
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
    </div>
  </body>
</html>
